<div id='summery' >
  <div class='small_post' ng-repeat='article in articles'>
    <div class='info'>
      <h3>{{article.title}}</h3>
      <div class='intro_text'>
          {{article.intro_text}}
      </div>
    </div>
    <time datetime="{{article.published_at}}">  {{article.published_at | date:'d MMM'}}</time>
    <img ng-src='{{article.main_image_url}}' alt='{{article.title}}' />
  </div>
</div>
<div id='articles'>
  <article class='featured' ng-repeat='article in articles'>
    <div class='article_container'>
      <div class='intro_container'>
        <h2>{{article.title}}</h1>
        <div class='intro-text' ng-bind-html='article.intro_text'></div>
      </div>
      <img ng-src='{{article.main_image_url}}' alt='{{article.title}}' class='intro'/>
      <!--<div class='author'> -->
      <!--<img src='/images/mandy.jpg' alt='src' />-->
      <!--<p> By <strong> Mandy Muijs </strong></p>-->
      <!--</div>-->
      <div class='article_content' ng-bind-html='article.parsed_html.html()'> </div>
    </div>
  </article>
